@import '../../../styles/variables.module.scss';

.footerContainer {
    width: 100%;
    background-color: #191b1e;
    // padding: 40px 0;
    display: flex;

    .footer-img{
        max-width: 100%;
    }
    .content {
        margin: auto;
        display: flex;
        justify-content: space-between;
        color: #fff;
    }

    .sec1,.sec2 {
        color: #fff;

        &>p:first-child {
            font-weight: 700;
            margin-top: 0;
        }

        p {
            margin: 0;
            color: #fff;
            font-size: 11px;
            color: rgba(255, 255, 255, .8);
            font-family: 'CustomFont-light', sans-serif;
        }
    }
}
