@import '../../../../styles/variables.module.scss';

.getStartedSection {
    width: 100%;
    background-color: $p-5;

    .content {
        margin: auto;
        display: flex;
        justify-content: space-between;
        color: #fff;
    }

    .headerLink {
        color: #212529;
    }
    
    .headerLink:hover {
        text-decoration: none;
        color: #212529;
    }

}