.container {
    background-image: linear-gradient(to right, #ebedec 0%, #ececeb 60%, #d8dad7 100%);
}

.banner {
    background-image: url(/images/banner.png);
    background-size: contain;
    background-repeat: no-repeat;
}


@media only screen and (max-width: 768px) {

    .banner {
        background: transparent;
    }

}