@import '../../../../styles/variables.module.scss';

.feedback {
    background-image: linear-gradient(to right, #ebebeb 0%,#ddd 100%);    
}

.dark {
    background-color: #ddd;
}

.text {
    color: $p-5;
}