@import '../../../styles/variables.module.scss';
.menuContainer {
    position: absolute;
    top: 100px;
    left: 50%;
    z-index: 1;

    .title {
        color: #fff;

        &::after {
            content: ' ';
            width: 33%;
            border-bottom: 4px solid $primary-color;
            display: block;
            padding-top: 10px;
        }
    }

    li:hover {
        color: $primary-color;
    }
}

.content {
    background-color: #272b35;
    left: -50%;
}